<div  class='card'>
    <div class='main'>
      <div class='background-circle'>
        <div class='image'>
            <img [className]="captureAnimation" [src]="elements?.sprites?.front_default ?? elements?.sprites?.other['official-artwork']?.front_default" class="pokemon" alt='imagen' /> 
            <img [className]="pokeballAnimation" class='pokeball' contain ngSrc="/img/pokeball.png" alt="pokeball" width="60" height="60" /> 
        </div>
      </div>
    </div>
    <div class='info'>
          <div class='subinfo'>
            <p>{{ elements.name }}</p>
          <div class='containerHp'>
              <div [style]="{'width':HPP, 'background':colorHP, 'border-color': borderHP}" class='HP'></div>
          </div>
          </div>
          <div class='subinfo2'>
          <p>PH:{{ hpokemon + "/" + baseStat }}</p>
          </div>
      </div>
      <div class='options'>
        <button
        (click)="capturePok()"
         class='division'>
            Capturar
        </button>
        <button
        (click)="attack()"
        class='division2'>
            Atacar
        </button>
    </div>
</div>

